
behavioural_experiments/.DS_Store
.DS_Store
data/derivatives/eeglab/sub-01_task-rsvp_continuous.set
data/derivatives/eeglab/sub-02_task-rsvp_continuous.set
data/derivatives/eeglab/sub-03_task-rsvp_continuous.set
data/derivatives/eeglab/sub-04_task-rsvp_continuous.set
data/derivatives/eeglab/sub-05_task-rsvp_continuous.set
data/derivatives/eeglab/sub-06_task-rsvp_continuous.set
data/derivatives/eeglab/sub-07_task-rsvp_continuous.set
data/derivatives/eeglab/sub-08_task-rsvp_continuous.set
data/derivatives/eeglab/sub-09_task-rsvp_continuous.set
data/derivatives/eeglab/sub-10_task-rsvp_continuous.set
data/derivatives/eeglab/sub-11_task-rsvp_continuous.set
data/derivatives/eeglab/sub-12_task-rsvp_continuous.set
data/derivatives/eeglab/sub-13_task-rsvp_continuous.set
data/derivatives/eeglab/sub-14_task-rsvp_continuous.set
data/derivatives/eeglab/sub-15_task-rsvp_continuous.set
data/derivatives/eeglab/sub-16_task-rsvp_continuous.set
data/derivatives/eeglab/sub-17_task-rsvp_continuous.set
data/derivatives/eeglab/sub-18_task-rsvp_continuous.set
data/derivatives/eeglab/sub-19_task-rsvp_continuous.set
data/derivatives/eeglab/sub-20_task-rsvp_continuous.set
data/sub-01/eeg/sub-01_task-rsvp_eeg.eeg
results/rdms.mat
results/stats_across_hemi_correlations.mat
